{% extends "base.html" %}

{% block content %}
<script>
  function search() {
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
      if (xhttp.readyState === 4) {
        var json = $.parseJSON(xhttp.responseText);
        console.log(json )
        var myElement = document.getElementById('response_placeholder').innerHTML = json.category;
      }
    }
    xhttp.da
    xhttp.open("GET", '{{ url_for("search") }}?domain='+$("#form_domain").val()+'&description='+$("#form_description").val(), true)
    xhttp.send()
    
  }
  </script>

<section class="jumbotron text-center">
    <div class="container">
      <h1>DeepFood</h1>
      <p class="lead text-muted"> Food image ranking using deep learning</p>
    </div>
</section>

{% endblock %}